<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/styles/style_main.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style_profile.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style_editor.css" />
  </head>
  <body>
    <nav id="main_menu"></nav>

    <main id="app">
      <section class="profile article">
        <div class="header">
          <img src="/images/header.jpg" alt="" />
        </div>
        <div class="container">
          <div class="left_panel">
            <img class="photo" src="/images/user.jpg" alt="" />
          </div>
          <div id="rp" class="right_panel">
            <transition name = "fade_0">
              <div class="info" v-show="show" style="display: none;">
                  <div class="name" id="title">{{ title }}</div>
              </div>
            </transition>
            <transition name = "fade_1">
                <div id="render" class="render" v-html="content" v-show="show" style="display: none;">
                </div>
            </transition>
          </div>
        </div>
      </section>
    </main>

    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/showdown.min.js"></script>
    <script src="/js/showdown-htmlescape.min.js"></script>
    <script src="/vue/post.js"></script>
  </body>
</html>
