form {
    &>* {
        margin-bottom: 20px;
    }
    &>*:last-child {
        margin-bottom: 0px;
    }
    .form-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
        }
        &.center {
            justify-content: center;
        }
        &>* {
            margin: 10px;
            text-align: center;
        }
        &>*:first-child {
            margin-left: 0;
        }
        &>*:last-child {
            margin-right: 0;
        }
        & i {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(104, 115, 196);
            font-size: 26px;
            padding: 10px;
            border-radius: 5px;
            width: 50px;
            height: 50px;
        }
    }
}

.input-group {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 40px;
    border-radius: 5px;
    padding: 15px 0;
    font-size: 12pt;
    grid-gap: 2em;
    &>* {
        margin-bottom: 0 !important;
    }
    &>*:last-child {
        margin-bottom: 0px;
    }
    legend {
        top: -1em;
        padding: 2px;
        margin: 0 5px;
        display: block;
        position: absolute;
    }
    .x-1 {
        grid-column-end: span 1;
    }
    .x-2 {
        grid-column-end: span 2;
    }
    .x-3 {
        grid-column-end: span 3;
    }
    .x-4 {
        grid-column-end: span 4;
    }
    .x-5 {
        grid-column-end: span 5;
    }
    .x-6 {
        grid-column-end: span 6;
    }
}

@media screen and (max-width: 700px) {
    .input-group {
        .md-x-1 {
            grid-column-end: span 1;
        }
        .md-x-2 {
            grid-column-end: span 2;
        }
        .md-x-3 {
            grid-column-end: span 3;
        }
        .md-x-4 {
            grid-column-end: span 4;
        }
        .md-x-5 {
            grid-column-end: span 5;
        }
        .md-x-6 {
            grid-column-end: span 6;
        }
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 0;
    }
    .auth {
        transform: translateY(0px);
        border-radius: 0;
        form {
            padding: 10px;
        }
    }
    .input-group {
        grid-template-columns: repeat(1, 1fr);
        .x-1 {
            grid-column-end: span 1;
        }
        .x-2 {
            grid-column-end: span 1;
        }
        .x-3 {
            grid-column-end: span 1;
        }
        .x-4 {
            grid-column-end: span 1;
        }
        .x-5 {
            grid-column-end: span 1;
        }
        .x-6 {
            grid-column-end: span 1;
        }
    }
}

button,
.button {
    all: unset;
    box-sizing: border-box;
    color: #ffffff;
    background: #0f9e73;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 14pt;
    text-align: center;
    filter: brightness(0.92) saturate(0.92);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        filter: brightness(1) saturate(1);
    }
    &.blue {
        background: #0f5894;
    }
}

.social_link {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    font-size: 32px;
    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        color: #ffffff;
        z-index: 1;
        transition: all 0.3s ease;
        opacity: 0;
    }
    &:hover {
        .overlay {
            opacity: 1;
        }
    }
    &.red {
        color: #7a1616;
        .overlay {
            background-color: #0f9e73;
            i::before {
                content: "\f0c1" !important;
            }
        }
    }
    &.green {
        color: #0f9e73;
        .overlay {
            background-color: #7a1616;
            i::before {
                content: "\f127" !important;
            }
        }
    }
}

.v2_input {
    position: relative;
    display: block;
    margin-bottom: 2em;
    font-size: 12pt;
    span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 8px 16px;
        margin: 0;
        transition: transform 0.3s ease;
        color: #bababa;
        font-family: "Segoe UI";
        font-size: inherit;
        pointer-events: none;
    }
    input {
        display: block;
        position: relative;
        border-radius: 5px;
        padding: 8px 16px;
        margin: 0;
        background: #ffffff;
        border: 1px solid #bababa;
        outline: none !important;
        width: 100%;
        transition: all 0.3s ease;
        color: #000000;
        font-family: "Segoe UI";
        font-size: inherit;
        &:valid {
            border-color: #2AB3B5;
        }
        &:not(:placeholder-shown):invalid {
            border-color: red;
        }
        &:not(:placeholder-shown)+span {
            transform: translateY(-2em);
        }
    }
}

// label.input{
//   display: grid;
//   grid-template-columns: 100px 1fr auto;
//   grid-gap: 20px;
//   > *{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   span{
//     font-size: 16pt;
//     margin-right: 10px;
//   }
//   input{
//     flex:1;
//     padding: 0.2em 1em;
//   }
// }