.main_menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    transform-style: preserve-3d;
    perspective: 200px;
    transform-origin: top;
    user-select: none;
    z-index: 94035;
    background-color: #414458;
    transition: width 0.3s ease;
    width: 50px;


    &:hover {
        width: 225px;
    }
    #main_menu__open-btn {
        display: none;
        transition: all 0.5s ease;
        transform-style: preserve-3d;
        perspective: 10px;
        box-shadow: 0 0 10px #00000050;
    }
    .main_menu__btn {
        all: unset;
        height: 50px;
        width: 50px;
        background: inherit;
        background-blend-mode: multiply;
        color: #ffffff;
        border-radius: 25px;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
        transition: all 0.3s ease;
        cursor: pointer;
        .icon {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 26px;
                width: 26px;
                object-fit: contain;
                object-position: center;
                filter: invert(90%);
            }
        }
        &:hover {
            background: #656a85;
            width: 100%;
            border-radius: 25px 0 0 25px;
        }
    }
    ul {
        position: relative;
        transform-origin: top;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all 0.3s ease;
        z-index: -1;
        li {
            margin: 0;
            padding: 0;
            height: 50px;
            width: 100%;
            margin-bottom: 5px;
            position: relative;
            overflow: hidden;
            span {
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 50px;
                top: 0;
                height: 50px;
            }
        }
    }
    @media print {
        display: none !important;
    }
}

.page_wrapper {
    padding-left: 50px;
}

@media screen and (max-width:1024px) {
    .page_wrapper {
        padding-left: 0;
        margin-bottom: 50px !important;
    }
    .main_menu {
        background-color: #ffffff;
        border-top: 1px solid hsl(0, 0%, 85%);
        box-shadow: 0 0 16px #00000020;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        width: auto;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        &:hover {
            width: auto;
        }
        
        .main_menu__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            flex: 1;
            height: 40px;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
            .icon {
                height: 25px;
                width: 25px;
                img {
                    height: 20px;
                    width: auto;
                    filter: invert(58%);
                    transition: all 0.3s ease;
                }
            }
            &:focus {
                outline: 0 !important;
                background: inherit !important;
            }
            &:active {
                background: inherit;
            }
            &:hover {
                border-radius: 0px;
                background: inherit;
                .icon {
                    img {
                        filter: invert(10%);
                    }
                }
            }
        }
    }
}