.grid {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 12px;
    width: 100%;
    justify-items: center;
    >.item {
        min-width: 240px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        width: 100%;
        .content {
            position: relative;
            width: 100%;
            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
            img:only-child {
                max-height: none;
                max-width: none;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}