section.editor {
    display: flex;
    align-items: flex-start;
    >.box {
        display: block;
        flex: 1 1 auto;
        min-height: 100vh;
        max-height: 100vh;
        margin: 0px;
        padding: 20px;
        overflow-y: scroll;
        border: none;
        resize: none;
    }
    >.handler {
        width: 20px;
        padding: 0;
        cursor: ew-resize;
        flex: 0 0 auto;
        align-self: stretch;
    }
    >.handler::before {
        content: '';
        display: block;
        width: 20px;
        height: 100%;
        background: #ffffff;
        margin: 0 auto;
        box-shadow: 0 0 10px #000000;
        z-index: 2;
        position: relative;
    }
    .markdown {
        background: #1D222C;
        >* {
            border-radius: 5px;
            background: #00000010;
            &:hover {
                background: #00000020;
            }
        }
        color: #ffffff;
    }
    p {
        font-size: 14pt;
        margin-top: 0;
    }
    ol {
        font-size: 14pt;
        margin-top: 0;
    }
    ul {
        font-size: 14pt;
        margin-top: 0;
    }
    figure {
        padding: 0;
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        margin-bottom: 8px;
    }
    h1 {
        font-size: 1.7em;
    }
    blockquote {
        display: block;
        border-width: 2px 0;
        border-style: solid;
        border-color: #eee;
        padding: 1.5em 0 0.5em;
        margin: 1.5em 0;
        position: relative;
        font-size: 16pt;
    }
    blockquote:before {
        content: '\201C';
        position: absolute;
        top: 0em;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em 'PT Sans', sans-serif;
        color: #666;
        text-align: center;
    }
    .menu {
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        padding: 20px;
        .item {
            display: block;
            border-radius: 50%;
            background: #C4C4C4;
            box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
            &.active {
                background: #678FCA;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    @media screen and (max-width: 960px) {
        flex-direction: column;
        .handler {
            display: none;
        }
        .box {
            flex: 1 !important;
            width: calc(100% - 20px) !important;
        }
    }
}

.article {
    .render {
        max-width: 960px;
        border-radius: 5px;
    }
}

.render {
    padding: 10px;
    position: static;
    background: #F7F7F7;
    >* {
        position: relative;
        min-width: 100%;
        width: 0;
    }
    overflow: hidden;
    >p {
        display: block;
        font-size: 14pt;
        margin-top: 0;
    }
    ol {
        font-size: 14pt;
        margin-top: 0;
    }
    ul {
        font-size: 14pt;
        margin-top: 0;
    }
    pre {
        background-color: #1D222C;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
    }
    img {
        justify-self: center;
        align-self: center;
        min-width: 0;
        width: 100%;
        object-fit: contain;
        max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        margin-bottom: 8px;
    }
    h1 {
        font-size: 1.7em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    h2 {
        font-size: 1.7em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
    blockquote {
        display: block;
        border-width: 2px 0;
        border-style: solid;
        border-color: #eee;
        padding: 1.5em 0 0.5em;
        margin: 1.5em 0;
        position: relative;
    }
    blockquote:before {
        content: '\201C';
        position: absolute;
        top: 0em;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em 'PT Sans', sans-serif;
        color: #666;
        text-align: center;
    }
}