@import "mixin";
section.profile {
    display: block;
    .header {
        position: sticky;
        top: -150px;
        display: flex;
        height: 300px;
        width: 100%;
        background: #C4C4C4;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .container {
        position: relative;
        display: flex;
        .left_panel {
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: #1D222C;
            position: sticky;
            top: 150px;
            width: 300px;
            height: calc(100vh - 150px);
            padding: 0 30px;
            font-family: "Segoe UI";
            >.photo {
                height: 200px;
                width: 200px;
                margin-top: -100px;
                object-fit: cover;
                border: 4px solid #FFFFFF;
                border-radius: 50%;
                margin-bottom: 50px;
                box-shadow: 0 0 10px #00000050;
            }
            .name {
                font-size: 16pt;
                text-align: center;
                margin-bottom: 20px;
            }
            .sub_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #6097BF;
                color: #ffffff;
                border-radius: 50px;
                width: 100%;
                margin-bottom: 30px;
            }
            .stats {
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                .stats-item {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    .desc {
                        font-size: 12pt;
                        opacity: 0.5;
                    }
                    .count {
                        font-size: 21pt;
                    }
                }
                .line {
                    height: 100%;
                    width: 2px;
                    background: #ffffff50;
                }
            }
        }
        .right_panel {
            transition: transform 0.3s ease;
            background: #E5E5E5;
            min-height: 100vh;
            width: calc(100% - 300px);
            >.info {
                z-index: 3;
                min-height: 40px;
                position: sticky;
                top: 0;
                background: #ffffff;
                padding: 16px;
                @include shadow-1;
                .name {
                    font-family: "Segoe UI";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px;
                    line-height: 42px;
                    color: #000000ff;
                    margin-bottom: 10px;
                    @media screen and (max-width: 640px) {
                        font-size: 18pt;
                        line-height: 1em;
                    }
                    @media screen and (max-width: 480px) {
                        font-size: 17pt;
                        line-height: 1em;
                    }
                }
                #title {
                    font-size: 21pt;
                    line-height: 1em;
                    color: #000000ff;
                    margin-bottom: 0px;
                    @media screen and (max-width: 800px) {
                        font-size: 18pt;
                        line-height: 1em;
                    }
                    @media screen and (max-width: 640px) {
                        font-size: 15pt;
                        line-height: 1em;
                    }
                    @media screen and (max-width: 480px) {
                        font-size: 12pt;
                        line-height: 1em;
                    }
                }
                .about {
                    font-family: "Segoe UI";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #00000080;
                }
            }
        }
        .comments-grid {
            display: grid;
            gap: 30px;
            padding: 30px;
            width: 100%;
            overflow-y: auto;
            max-height: calc(100vh - 350px);
            grid-template-columns: repeat(1, 1fr);
            >.item {
                background: #E5E5E5;
                border-radius: 5px;
                width: 100%;
                min-height: 100px;
            }
        }
        .content-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            padding: 30px;
            >.item {
                background: #6792BA;
                border-radius: 5px;
                width: 100%;
                min-height: 250px;
                @include transition-1;
                @include shadow-1;
                &:hover {
                    @include shadow-2;
                }
            }
            @media screen and (max-width:1600px) {
                grid-template-columns: repeat(2, 1fr);
                padding: 20px;
            }
            @media screen and (max-width:900px) {
                grid-template-columns: repeat(1, 1fr);
                padding: 10px;
            }
        }
    }
    .render {
        z-index: 0;
        margin: 16px auto !important;
        box-shadow: 0 0 16px #00000030;
        padding: 40px;
    }
}

@media screen and (max-width:768px) {
    section.profile {
        .header {
            z-index: 1;
            top: -300px;
        }
        .container {
            flex-direction: column;
            .left_panel {
                top: 0;
                align-items: flex-start;
                >.photo {
                    height: 64px;
                    width: 64px;
                    margin-top: 10px;
                    margin-left: 10px;
                    border: none;
                }
                height: 84px;
                width: 100%;
                z-index: 2;
                background: #ffffff;
                @include shadow-1;
            }
            .right_panel {
                width: 100%;
                >.info {
                    position: sticky;
                    margin-top: -84px;
                    width: calc(100% - 124px);
                    z-index: 3;
                    top: 0px;
                    padding: 10px 25px;
                    height: auto;
                    min-height: 84px;
                    height: 84px;
                    margin-left: 124px;
                    overflow: hidden;
                    .about {
                        display: none;
                    }
                    .name {
                        margin-bottom: 0;
                    }
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include shadow-0;
                }
            }
        }
        .comments-grid {
            display: none !important;
        }
        .render {
            padding: 10px;
        }
    }
}