section.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(30deg, #43158d, #345f88);
    >.sec_wrapper {
        max-width: 360px;
        background: #ffffff;
        padding: 50px 20px;
        border-radius: 10px;
        form {
            display: flex;
            flex-direction: column;
            hr {
                width: 100%;
            }
        }
    }
}