@import "mixin";
//@import "mosaic";
@import "inputs";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0 10px 10px 0;
    background: #8f8f8f;
    &:hover {
      background: #575757;
    }
    &:end {
      background: #000000;
    }
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }
  ::-webkit-resizer {
    display: none;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100vw;
  height: 100px;
  background: #252c37;
}

main {
  display: block;
  margin-left: 50px;
  min-height: calc(100vh + 1px);
  width: calc(100% - 50px);
  background: #eaedf0;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  &.head {
    background-color: #eaedf0;
    border-bottom: 1px solid #10304918;
    @include shadow-1;
  }
  .sec_wrapper {
    width: 100%;
  }
}

.card {
  display: flex;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #10304918;
  @include transition-1;
  @include shadow-1;
  &:hover {
    @include shadow-2;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    .main_img {
      object-fit: cover;
      max-height: 600px;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    > .pub_info {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      .owner_ph {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        object-fit: cover;
        background-color: #1a1b1d;
        flex: 0 !important;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
        > .name {
          font-size: 14pt;
        }
        > .date {
          font-size: 12pt;
          color: #00000080;
        }
      }
    }
    > .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: "Times New Roman", Times, serif;
      font-size: 24pt;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      flex: 1;
      cursor: pointer;
    }
    > .social {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 100%;
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        .item {
          display: flex;
          margin-right: 10px;
          align-items: center;
          justify-content: flex-start;
          width: auto;
          .icon {
            margin-right: 5px;
          }
          span {
            font-family: "Roboto", sans-serif;
            display: block;
            width: auto;
            height: auto;
            font-size: 14pt;
            color: #00000080;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
  > .item {
    background: #ffffff;
    border-radius: 5px;
    width: 100%;
    min-height: 250px;
    @include transition-1;
    @include shadow-1;
    &:hover {
      @include shadow-2;
    }
  }
  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}



.masonry {
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
  > .item {
    //max-width: 450px;

    width: auto;
    background: #ffffff;
    border-radius: 5px;
    //margin: 10px;
  }
}

.newsletter{
    padding: 10px;
    .sec_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




.fade_1-enter-active, .fade-leave-active {
  transition: all 0.3s;
}
.fade_1-enter, .fade-leave-to{
  opacity: 0;
  transform: translateY(-10px);
}

.fade_0-enter-active, .fade-leave-active {
  transition: all 0.3s;
}
.fade_0-enter, .fade-leave-to{
  opacity: 0;
}


nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 50px;
  background-color: #252c37;
  z-index: 100;

  >a{
    display: flex;
    width: 50px;
    cursor: pointer;
    text-decoration: none;

    .icon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 1280px) {
  nav {
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    width: auto;
    height: 50px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  main {
    display: block;
    margin-left: 0;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 640px) {
  section {
    padding: 0px;
  }
}
